.main {
  width: 800px;
  padding: 0px 20px 20px 20px;
  margin: 100px auto;
  box-shadow: inset 0 0 115px 24px rgba(0, 0, 0, 0.7);
  border: 1px solid #888;
  background-color: rgba(255, 255, 255, 0.64);
}

.main h1 {
  font-weight: normal;
}

.mushroom-div {
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(20, 0, 20, 0.7);
  box-shadow: 0 0 30px rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: white;
}

.login, .signup {
  margin: 100px auto;
/*  max-width: 95%;*/
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid rgba(53, 53, 53, 0.37);
  height: auto;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  box-shadow: 0 0 30px rgb(0, 0, 0);
  font-style: "Helvetica Neue";
  font-weight: lighter;
}

h1 {
  font-family: Helvetica Neue;
  font-weight: 100;
  text-align: center;
}

.login input, .signup input {
  width: 100%;
background-color: rgba(197, 197, 197, 0.36);
height: 40px;
border: 1px solid rgb(155, 154, 154);
box-shadow: inset 0 0 50px -3px rgb(0, 0, 0);
font-size: 1.3em;
padding: 0px 10px;
box-sizing: border-box;
border-radius: -1px;
text-align: center;
color: white;
margin-bottom: 10px;
}
.login input[type=submit], .signup input[type=submit]{
width: 20%;
box-shadow: none;
background-color: purple;
margin: 0 auto;
display: block;
margin-top: 20px;
border: none;
}

.login input[type=submit]:hover, .signup input[type=submit]:hover {
  box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.5);
}
/*th {
  text-align: left;
}*/
body {
  background: url('/images/mystic_forest_2_by_antichristofer-d3f7pif.jpg') no-repeat center top fixed;
  background-size: cover;
}

.header {
  z-index: 100;
  height: 60px;
  padding: 5px 20px;
  box-sizing: border-box;
  border: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(bottom, rgba(26,3,24, 0.6) 0%, rgba(82,15,75, 0.6) 4%, rgba(186,31,171, 0.6) 100%);
  background-image: -o-linear-gradient(bottom, rgba(26,3,24, 0.6) 0%, rgba(82,15,75, 0.6) 4%, rgba(186,31,171, 0.6) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(26,3,24, 0.6) 0%, rgba(82,15,75, 0.6) 4%, rgba(186,31,171, 0.6) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(26,3,24, 0.6) 0%, rgba(82,15,75, 0.6) 4%, rgba(186,31,171, 0.6) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(26,3,24, 0.6) 0%, rgba(82,15,75, 0.6) 4%, rgba(186,31,171, 0.6) 100%);
}

.header svg {
  width: 50px;
  height: 50px;
}

.header .logo h1 {
  font-family: "Helvetica Neue";
  font-size: 1.8em;
  font-weight: lighter;
  position: absolute;
  color: white;
  left: 90px;
  top: 15px;
  margin: 0;
}

.survey-info {
  position: relative;
  width: 100%;
  border: 2px dotted #555;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.survey-info input[type=text] {
  background-color: rgba(0, 0, 0, 0.67);
width: 100%;
height: 40px;
box-sizing: border-box;
border: none;
color: white;
text-align: center;
/*border-top-left-radius: 10px;
border-top-right-radius: 10px;*/
}

.survey-questions .question {
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: #ccc;
  box-sizing: border-box;
  margin-top: 20px;
}

.edit-survey input.button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

textarea[name=question] {
    resize: none;
}

textarea {
  width: 100%;
  background-color: rgba(180, 180, 180, 0.4);
  border: none;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}

textarea:focus {
  background-color: rgba(255,255,255,0.8)
}

/*
margin-bottom: 10px;
height: 30px;
width: 100%;
box-sizing: border-box;*/


.survey-questions .question .choice {
  width: 100%;
  background-color: #aaa;
  margin-bottom: 10px;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  border: 1px dashed #888;
}

.survey-questions .question .choice:hover {
  box-shadow: 0 0 5px #444;
  background-color: #999;
}

.survey-questions .question .choice .draggable {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px 5px 0 0;
}


.survey-questions .question .choice .draggable svg{
  width: 25px;
  height: 25px;
  fill: #555;
}
