<h1>welcome to Survey Mushroom!</h1>

<form action="/login" method="POST">
    Email: <input type="email" name="username" id="input">
    Password: <input type="password" name="password" id="input">
    <input type="submit" name="submit" id="submit">
</form>

<a href="/signup">Signup!</a>


