<div class="login">

  <h1>Sign In</h1>

  <div class="error">
    <% if params[:error] == "loginerror" %>
      <p>Wrong username or password</p>
    <% end %>
  </div>

  <form action="/login" method="POST">
      <input type="email" name="user[email]" placeholder="email"><br>
      <input type="password" name="user[password]" placeholder="password"><br>
      <input type="submit" name="Log in" value="submit"><br>
  </form>
</div>
