<h1> Welcome <%= @user.name.capitalize %>!</h1>

<a href="/create/survey">manage surveys</a>
<ul>
<% @user.surveys.each do |survey| %>
  <li><a href="/survey/<%= survey.id%>"><%=survey.title%></a></li>
  <% end %>

</ul>

<a href="/">home</a>
<a href="/surveys">Take a Survey</a>
