<h1> Welcome User!</h1>

<a href="/create/survey">manage surveys</a>

<ul>
  <li>
    <a href="/survey/1">User Survey no. 1</a>
  </li>
  <li>
    <a href="/survey/1">User Survey no. 2</a>
  </li>
  <li>
    <a href="/survey/1">User Survey no. 3</a>
  </li>

</ul>

<a href="/">home</a>
