<h1> Welcome <%= @user.name.capitalize %>!</h1>

<a href="/survey/new">Create Survey</a>
<ul>
<% @user.surveys.each do |survey| %>
  <li><a href="/survey/<%= survey.id%>"><%=survey.title%></a></li>
  <% end %>

</ul>

<a href="/surveys">home</a><br>
<a href="/surveys">Take a Survey</a><br>
<a href="/logout">Logout</a>
