<form action="/signup" method="POST">
    Name: <input type="text" name="name" id="input">
    Email: <input type="email" name="username" id="input">
    Password: <input type="password" name="password" id="input">
    <input type="submit" name="submit" id="submit">
</form>

<a href="/">home</a>
