<h1>All Surveys</h1>
<a href="/profile/name">profile</a>
<ul>
<li><a href="/survey/1">survey title</a></li>
<li><a href="/survey/1">survey title</a></li>
<li><a href="/survey/1">survey title</a></li>
</ul>

<a href="/">home</a>
